/* game board table */
#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  transition-duration: 0.5s;
	border-radius: 50%;
}

td {
	box-shadow: inset 0.5px 0.5px 2px #000000;
}

div {
  text-align: left;
}

#Playt {
  border-radius: 2ex;
}

#currentName {
  height: 22px;
  border: solid 1px #666;
  border-radius: 1ex;
  font-family: Hachi Maru Pop;
}

#pieceP1, #pieceP2 {
  height: 22px;
  margin:0 auto;
  border-radius: 1ex;
  font-family: Hachi Maru Pop;
}


/* #firstName {
  height: 22px;
  margin:0 auto;
  border-radius: 1ex;
} */

li {
  text-align: left;
  margin: 1em auto;
}

#game {
   display: inline-block;
   max-width: 400px;
   margin:0 auto;
   display: flex;
}

body {
  background: linear-gradient(160deg, #b05df5 1%, #00fcda 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  justify-content: space-between;
  text-align: center;
  font-family: Hachi Maru Pop;
  background-size: cover;
  margin: 0.5em;
  padding: 0;
  background-attachment: fixed;
}

h1 {
  margin: 0em auto;
  Color: rgb(207, 30, 30);
  font-family: Hachi Maru Pop;
  font-size: 2.6em;  
  text-shadow: 5px 5px 15px rgb(10, 11, 99);
}

h3 {
  Color: rgb(87, 17, 17);
  font-family: Hachi Maru Pop;
  font-size: 1em;  
  text-shadow: 5px 5px 15px rgb(10, 11, 99);
  margin: 10px;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  border-radius: 50%;
  margin: 5px;
  width: 80%;
  height: 80%;
  animation: down-animation .4s linear forwards;
}

/* .input {
  color: rgb(54, 22, 233);
} */

/* column-top is table row of clickable areas for each column */
#column-top td {
  border: dashed 1px rgb(160, 228, 207);
}

#column-top td:hover {
  background-color: rgb(136, 255, 0);
  cursor: pointer;
  box-shadow: inset 3px 3px 4px #000000;
}

button {
  background-color: rgb(136, 255, 0);
  border-color: black;
  color: rgb(54, 22, 233);
  font-size: 0.6em;
  border-radius: 10px;
  padding: 0.5em 1em 0.5em 1em;
  margin: 1em auto;
  outline: none;
  font-family: Hachi Maru Pop;
}    

button:hover {
  cursor: pointer;
  background-color: rgba(236, 104, 104, 0.897);
}

@keyframes down-animation {
	from {
		opacity: 0;
		transform: translateY(-300px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}


@media screen and (max-width: 390px) {
  h1 {
    Color: rgb(40, 169, 38);
    font-size: 2.2em;  
    text-shadow: 5px 5px 15px rgb(10, 11, 99);
  }

  #board td{
    width: 47px;
    height: 47px;
    margin: 1em;
    padding: 0;
  }
}

@media screen and (max-width: 330px) {
  #start {
    display:flex;
  }
}
